h2 {
	text-align: center;
	margin-top: 0px;
}

.coolearth {
	text-align: left;
}

.bsf {
	text-align:right;
}

.coolearthimage {
	width:541px;
	height:188px;
}

h4 {
	text-align:center;
}

ul {
	padding-left:0px;
}

.item {
	width:555px;
	height:277.5px;
}

.youtube {
	width:555px;
	height:277.5px;
}

.bsfyoutube {
	width:555px;
	height:277.5px;
}