/*body {
	background: url(https://d36tnp772eyphs.cloudfront.net/blogs/1/2011/10/mongol-rally-2011-15sep-81.jpg) no-repeat center center fixed;
	background-size: cover;
	background-blend-mode: darken;
	transition: 3s;
}*/

.navbar {
	margin-bottom: 0px;
}

.item {
	width: 1438px;
	height: 719px;
}


